<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Навчання для підлітків</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Навчання для підлітків</h1>
    <ul>
        <li><a href="/teens/courses">Міні-курси</a></li>
        <li><a href="/teens/quizzes">Вікторини</a></li>
        <li><a href="/teens/budget">Симуляція бюджету</a></li>
        <li><a href="/teens/ratings">Рейтинги та бейджі</a></li>
        <li><a href="/teens/decision">Симуляція "Фінансове рішення"</a></li>
        <li><a href="/teens/route">Міні-гра "Фінансовий маршрут"</a></li>
        <li><a href="/teens/calculators">Симуляція "Розрахунок виплат по кредиту"</a></li>
    </ul>
</body>
</html>